<!DOCTYPE html>
<html>
<body>
	<div th:fragment="footer">
	<div class="row-fluid">
		<div class="span12 promo-page 	">
			<div class="block-footer">
				<div class="container">
					<div class="row-fluid">
						<div class="span3">
							<h4>[[#{footer.menu.website.info}]]</h4>
						</div>
					    <div class="span3">
							<h4>[[#{footer.menu.website.guider}]]</h4>		
					    </div>
					    <div class="span3">
							<h4>[[#{footer.menu.website.friend-link}]]</h4>
					    </div>
					    <div class="span3">
							<h4>[[#{footer.menu.website.contact}]]</h4>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="container">
			<div class="footer-inner">
				2016－2026 © [[#{common.message.footer.right}]]
			</div>
			<div class="footer-tools">
				<span class="go-top">
				<i class="icon-angle-up"></i>
				</span>
			</div>
		</div>
	</div>
	</div>
</body>
</html>